body{
    background-image: url("img/Waves.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;
}

form{
    border: 2px solid #ccc;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.947);
    position: absolute;
    left: 55%;
}